.HorizontalLine{
    stroke: red;
    stroke-width: 2px;
}
.VerticalLine{
    stroke: blue;
    stroke-width: 2px;
}
.HorizontalText{
    font-size: 30px;
    fill: red;
}
.VerticalText{
     font-size: 30px;
     fill: blue;
 }
.OriginText{
    font-size: 30px;
    fill: black;
}