.bgPane{
    height: auto;
    background-color: white;
    padding: 10px;
}
.masterPane{
    height: auto;
    width: auto;
    max-width: 100vw;
    background: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    border-radius: 5px;
    flex-wrap: wrap;
    /*border-width: 5px;*/
    /*border-color: aqua;*/
}
.statsPane{
    max-width: 800px;
    /*min-width: 30%;*/
    min-height: 300px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.mapSelectorPane{
    width: 40%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.sectionHeading{
    text-align: center;
    font-size: x-large;
}
.seatInfoText{
    text-align: center;
    font-size: large;
}
.headingPane{
    height: auto;
    width: auto;
    background: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.segmentedControl{
    width: 100%;
    max-width: 1000px;
    height: 30px;
    margin: 10px;
}
.segmentedControlPane{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.seatAvailText{
    text-align: center;
    font-size: large;
    margin: 10px;
}
.mapPane{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .mapSelectorPane {
        width: 100%;
    }
}

